<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       xmlns:mvc="http://www.springframework.org/schema/mvc">
    <!--扫描controller-->
    <context:component-scan base-package="yhy.controller"/>
    <!--进行视图解析器的配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:annotation-driven>
        <!-- 消息转换器:解决中文返回前端乱码的问题-->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

<!--拦截器的使用的说明配置使用，自定义拦截的class-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>  <!--对所有的进行拦截处理-->
            <mvc:exclude-mapping path="/testUser/**"/>  <!--排除不需要的拦截-->
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/success"/>
            <bean id="HandlerIntercepter" class="yhy.intercepter.PrimiteIntecepter"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>