<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.3.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring">

<!--连接池的配置参数-->
        <util:properties id="cfg" location="classpath:mybatisConfig.properties"/>
    <!--配置连接池的使用-->
     <bean id="dataSource"  class="com.alibaba.druid.pool.DruidDataSource">
            <property name="url" value="#{cfg.url}"/>
            <property name="driverClassName" value="#{cfg.driverClassName}"/>
            <property name="username" value="#{cfg.username}"/>
            <property name="password" value="#{cfg.password}"/>
            <!-- 初始化连接大小 -->
            <property name="initialSize" value="#{cfg.initialSize}" />
            <!-- 连接池最大数量 -->
            <property name="maxActive" value="#{cfg.maxActive}" />
            <!-- 连接池最小空闲 -->
            <property name="minIdle" value="#{cfg.minIdle}" />
            <!-- 获取连接最大等待时间 -->
            <property name="maxWait" value="#{cfg.maxWait}" />
     </bean>
<!--spring-mybatis的整合-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--全局配置文件-->
        <property name="configLocation" value="classpath:mybatis/envirements.xml"/>
        <!--配置扫描mapper配置文件-->
        <property name="mapperLocations" value="classpath:mapper/**.xml"/>
    </bean>
    <!--扫描dao:使用<mybatis-spring:scan>这个标签和使用 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 这个标签效果是一样的-->
    <!--新版本使用这个标签扫描 dao-->
    <mybatis-spring:scan base-package="yhy.dao"/>
   <!--老版本使用<Bean>标签扫描 dao-->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        &lt;!&ndash;过时可以不使用&ndash;&gt;
        &lt;!&ndash;<property name="sqlSessionFactory" ref="sqlSessionFactory"/>&ndash;&gt;
        <property name="basePackage" value="yhy.dao"/>
    </bean>-->
    <!--批量保存的使用-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
        <constructor-arg name="executorType" value="BATCH"></constructor-arg>
    </bean>
</beans>
